@page "/About"
<PageTitle>About</PageTitle>

<h3>About</h3>
<hr />
<div class="container bg-white px-4 py-4">
    <p>
        In 1986 the Plains Tsunami Swim League was started by myself, Jeffrey
        Utterback, coach of Arapahoe, Nancy Frecks, coach of Culbertson and Ann Paine,
        coach of Oxford. Araphoe and Oxford had been swimming in the Central Nebraska
        Swim League, which was a USS Swim League, and it became too expensive to be a
        part of. This league was controlled by the biggest teams: Hastings and Grand Island.
        Unfortunately there was a lot of politics and nastiness generated against the our small
        town teams. Don't take it wrong, our individuals could compete. There were not many
        swimmers in that league that wanted to go head to head with most of our swimmers.
    </p>
    <p>
        During the time they were a part of that USS Swim League, Oxford and
        Arapahoe each had 15 to 20 swimmers every year. Since forming this new swim league
        our teams rarely have had less than 40 swimmers a year.
    </p>
    <p>
        The initial cost of registering in the USS Swim League was $20.00 per swimmer
        for yearly registration (and was proposed to go up another $5 per year – that was in
        1985, one can only imagine what they charge now). Plus, there were per entered meet
        fees, an extra $1 or $2 per swimmer and $1.00 to $3.00 per event each week, which
        was costing each team up to $150.00 per week for a small town team. It was becoming
        harder and harder to raise enough funds to keep up.
    </p>
    <p>
        When the PtSL* started it was composed of nine teams; two, Oxford and
        Arapahoe, had been a part of the USS Swim League; three teams, Alma, Franklin, and
        Red Cloud, had just been swimming against each other week after week; the other four
        teams were added by making phone calls - Culbertson, Cambridge, Stratton and
        Beaver City.  One of the first calls was to Nancy Frecks.  Having been a swimmer in
        high school and college, Nancy jumped at the chance to be a part of and help run the
        new League, which was initially called the Southwest Nebraska Swim League
        (SWNSL).  The name was changed to its current name when we started adding teams
        from Kansas to the League, the first of which was Atwood. And now we have teams
        from Colorado swimming with us.
    </p>
    <p>
        (*The year we changed the name of the League was the same year that India was
        devastated by a tsunami. We wanted to pay respect to that tragedy, thus we always use
        a non-capitalized “t” whether spelling out tsunami or using the abbreviation PtSL.)
    </p>
    <p>
        Since expenses were the issue in the other league we decided to only charge
        $9.00 per swimmer which was estimated to cover the paper work and awards for the
        swimmers. And, if memory serves, another $2 or $3 from each swimmer was needed at
        the end of that first year to cover the ‘underestimated’ costs for the summer. Over the
        past 35+ years the fees have only risen to a one-time yearly fee of $28.00 per swimmer
        to swim and compete in the 7 meets scheduled for the year. The League awards 10,000
        to 8,000 ribbons during the season and over 1800 medals at the Championship Meet.
    </p>
    <p>
        Not only have the awards expanded, but the Plains Tsunami Swim League now
        consists of just under 30 teams and just under 800 swimmers each year. It stretches
        from Colorado, Kansas and Nebraska to 250 miles to the east to Franklin, NE and
        Phillipsburg, KS and from Wakeeney, KS, to the south and north to I-80 and now West
        to Holyoke and Wray CO.
    </p>
    <p>
        You may think that this is an inconvenience for all of these teams to travel, but
        each week there are six host sites across league. Each team gets the opportunity to
        host at least one meet during the summer if they want, but no one has to host. One of
        our goals of the League is to keep the meets small enough that everyone can have an
        opportunity to earn a ribbon and allow the meets to be short as to not take up all of a
        Saturday. (Initially all the teams were coached by pool managers and they had to be
        home in time to open their own pool.) With all of this in mind, the League is considering
        adding a 7th site each week, as the League has added teams.
    </p>
    <p>
        The League provides watches, ribbons and all things needed to run a meet which
        are passed from host team to host team in Ribbon Boxes. Originally the entries were
        done, by hand, by the coaches when they got to their meet. The results were hand
        written and mailed to the teams. Once everyone had computers (took a long, long time
        for everyone to have access to compatible programs – during that time, I had no less
        than half a dozen different programs on my computer so that I could get and use
        everyone’s information. There was Word, but most could not afford it. A large share of
        the teams were run/coached by teachers and it seems each had a different program
        that they used. I remember Corel being one of them, but there were several more.)
        Once things became more compatible, I would email entry forms to each team by the
        first of the week, they would fill that out and email back to me. I would process all of that
        and return the Event Sheets to the host team. Then I would process all the results, as
        they entered them into a Results file that I also sent to them. I would then email the
        results to the teams and everything started over. I was putting in over 70 hours, to some
        weeks at 90 hours, per week compiling all of this. That’s IF the information got back to
        me timely, which was rarely. Now, thanks to Wyatt Conrad, Coach/swimmer originally
        with Phillipsburg, created the program you now use on our website. I now have most of
        my summers back to just take your questions and problem solve!
    </p>
    <p>
        There are four Regular Season meets, a week of the much loved, much under
        appreciated Relay Meets, then we split the League evenly between four sites and have
        the Qualifying Meets, where swimmers vie to get into the Championship Meet.
        Swimmer qualify for the Championship Meet by automatic placings and by times at
        these Qualifying Meets.
    </p>
    <p>
        It doesn't matter what age you are or what your ability level is to swim in this
        League.  The League has 7 age groups from 8 and under to 30 and over. We have
        added a high school / college division for 2022. There are 136 events per meet to
        ensure that everyone has a chance to swim in what they enjoy. Just last season we
        added Mixed Relays, which have been very well accepted. Our goal for these added
        things is to not add time to the meets length, that will be a work in progress. We have
        quite a few swimmers in the two oldest age groups, mostly parents, all are in it for the
        fun and exercise, yet it tends to be fairly competitive, but they have a good time doing it
        and the kids love seeing the adults swim!
    </p>
    <p>
        Even though this league is fun and a learning experience for many young
        swimmers we still judge the strokes and disqualify (DQ) improper strokes with a hard
        line in each and every age group.. Stroke Judges are trained and provided at every
        meet. These are people from within the League, parents and such that volunteer to do
        this tough job so as to help insure a fair atmosphere.  If an 8 & Under swimmer receives
        a DQ for an event they swam at a Regular Season Meet, they receive a rainbow colored
        “OOPS” ribbon. One of our main goals is fairness and the first step in that is making
        sure all are swimming properly and fairly.  This league is set up so that anyone that
        wants to be a part of it, can be, regardless of experience, ability, or age.
    </p>
    <p>
        This League is what it is because of all the great volunteers that step up and help
        wherever help is needed.
    </p>
    <p>
        There are many towns, within this area, that do not have teams.  That is
        disappointing.  This League is a wonderful, positive activity for all.
    </p>
</div>
<div class="container bg-white text-center px-4 py-2">
    <div class="row mb-4">
        <div class="col">
            <h4>Towns/Teams currently or formerly in the League:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>2022 PtSL Member Teams</h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex flex-wrap justify-content-center">
            <div class="px-4 py-2">Alma</div>
            <div class="px-4 py-2">Arapahoe</div>
            <div class="px-4 py-2">Atwood</div>
            <div class="px-4 py-2">Benkelman</div>
            <div class="px-4 py-2">Cambridge</div>
            <div class="px-4 py-2">Cozad</div>
            <div class="px-4 py-2">Elm Creek</div>
            <div class="px-4 py-2">Elwood</div>
            <div class="px-4 py-2">Franklin</div>
            <div class="px-4 py-2">Frontier Co. (Curtis -Eustis-Farnam)</div>
            <div class="px-4 py-2">Gothenburg</div>
            <div class="px-4 py-2">Holyoke</div>
            <div class="px-4 py-2">Hoxie</div>
            <div class="px-4 py-2">Imperial</div>
            <div class="px-4 py-2">Indianola</div>
            <div class="px-4 py-2">Kearney Y</div>
            <div class="px-4 py-2">Kensington</div>
            <div class="px-4 py-2">Minden</div>
            <div class="px-4 py-2">Norton</div>
            <div class="px-4 py-2">Oberlin</div>
            <div class="px-4 py-2">Ogallala</div>
            <div class="px-4 py-2">Perkins Co. (Grant)</div>
            <div class="px-4 py-2">Phillipsburg</div>
            <div class="px-4 py-2">Southern Valley (Beaver City, Orleans, Oxford)</div>
            <div class="px-4 py-2">St. Francis</div>
            <div class="px-4 py-2">Stockton</div>
            <div class="px-4 py-2">Trego  (Wakeeney)</div>
            <div class="px-4 py-2">Wilcox/Hildreth</div>
            <div class="px-4 py-2">Wray</div>
        </div>
        <div class="row"><div class="col"><hr /></div></div>
        <div class="row">
            <div class="col">
                <h2>Past PtSL Member Teams</h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 d-flex flex-wrap justify-content-center">
                <div class="px-4 py-2">Bird City</div>
                <div class="px-4 py-2">Cheylin</div>
                <div class="px-4 py-2">Culbertson</div>
                <div class="px-4 py-2">Curtis</div>
                <div class="px-4 py-2">Hildreth</div>
                <div class="px-4 py-2">Hitchcock Co.</div>
                <div class="px-4 py-2">Holdrege</div>
                <div class="px-4 py-2">Lexington</div>
                <div class="px-4 py-2">McCook</div>
                <div class="px-4 py-2">Palisade</div>
                <div class="px-4 py-2">Red Cloud</div>
                <div class="px-4 py-2">Smith Center</div>
                <div class="px-4 py-2">Stratton</div>
                <div class="px-4 py-2">Sutherland</div>
                <div class="px-4 py-2">Hitchcock Co/Trenton</div>
                <div class="px-4 py-2">Wauneta</div>
            </div>
        </div>
    </div>
</div>
@code {

}
