@page "/Contact"
<PageTitle>Contacts</PageTitle>

<h3>Contacts</h3>

<div class="container">
    <p><i class="fa-solid fa-star fa-lg text-warning"></i><span> Indicates a primary team contact.</span></p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mx-auto">
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Arapahoe (AR)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Jeffrey Utterback" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/e20afa98225306e9fa1e4a6e8388b074?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Jeffrey Utterback</h5><span class="small text-uppercase text-body-secondary">League President - Arapahoe Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Indianola (IN)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Michael Brodd" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ad8a5fb75368c622186b81ddb8754059?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Michael Brodd</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Lexington (LX)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Donna Ecklund" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/14b94acba188260101e95f0177a48b57?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Donna Ecklund</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Cambridge (CA)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Tobiann Springer" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/dcb074bd839a490e063c55a7c3e236e4?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Tobiann Springer</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Alma (AL)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Jami Ogier" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/51ada472c6e89f3aa957a4237aebed96?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Jami Ogier</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Atwood (AT)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Aaron Schilde" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/8a8036f8efc7088d3863773e13beed0c?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Aaron Schilde</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Atwood (AT)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Shandi  Sayre" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/8f651153f8a86fe097bd72941f2ad681?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Shandi  Sayre</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Benkelman (BE)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="FayeLee Sanford" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/36fd848e13677228a4499ff85638503a?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">FayeLee Sanford</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Benkelman (BE)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Anita Lutz" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/c13fe696a268efe4f2307f4132349e61?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Anita Lutz</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Cambridge (CA)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Leah Downer" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/fe5550df0a0efbe067f077d818942382?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Leah Downer</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Cambridge (CA)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Sara Calvert" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/d6b96a92cf4c9474a46b3a4c9d9868c8?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Sara Calvert</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Cozad (CZ)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Karen LaBrayere" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/504aa93b255f9908b0b2851ef5e7602c?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Karen LaBrayere</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Cozad (CZ)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Anne Burkholder" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/8caa38677b0c3f76eb8ed9dc8e936923?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Anne Burkholder</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Cozad (CZ)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Marcie Kostrunek" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ceb9a61b82820351bad863eaf7eeeff2?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Marcie Kostrunek</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Elm Creek (EC)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Hannah  Carr" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/d063117bebe846805ab2261a8039736b?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Hannah  Carr</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Elwood (EL)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Tom Martin" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/2655cefb152c11a8206f9d32c3b19267?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Tom Martin</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Elwood (EL)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Lori Shutts" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/1e7fbba4aeebc53c5c108ac9e21ffc80?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Lori Shutts</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Frontier Co. (FC)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Sara Oberg" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/03e269696db8f8bc64791f8cece9cda8?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Sara Oberg</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Frontier Co. (FC)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Celeste  Debban " class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/bb2b894b9184d79a8d314b7be3103f57?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Celeste  Debban </h5><span class="small text-uppercase text-body-secondary">Coach Stroke Judge </span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Franklin (FR)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Abigail Cleveland" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/cc571e9d82a2645225530d77c602d9d4?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Abigail Cleveland</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Franklin (FR)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Kyler Carraher" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/0e1bc4517c0e88dfde8dc4a00e11b914?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Kyler Carraher</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Gothenburg (GO)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Lisa Jorgenson" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/113f8ac1332d6bbfd7b67ce68e2f2903?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Lisa Jorgenson</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Hoxie (HX)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Miranda Marez-Scanlon" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/fa94375dba8df7f227a6415fa21368a5?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Miranda Marez-Scanlon</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Holyoke (HY)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Aly Brinkema" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ac50c0862860111ea685250a8b675842?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Aly Brinkema</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Kensington (KE)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Anne Abbott" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/a5fc52ec551ce3c0cb76854eb81429de?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Anne Abbott</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                McCook (MC)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Jennifer  Warwick " class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/564e3272590a09bff02779be668f3d50?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Jennifer  Warwick </h5><span class="small text-uppercase text-body-secondary">Mom</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                McCook (MC)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Ronda Graff" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/72d56d8f4c70ed1ebf28f753084ffcb0?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Ronda Graff</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Minden (MI)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Ian Sinsel" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/b76f0be8fa04b04bc6f8b41855b76012?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Ian Sinsel</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Minden (MI)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Kylee Eckhardt" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/bff1ac20d3d309d6040fc00608ebed84?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Kylee Eckhardt</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Norton (NT)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Melissa Conn" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/5cbb7b01d6912cdfd34f24ecbee90090?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Melissa Conn</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Norton (NT)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Luke Winge" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/feb09104b73f94cf2a3e070ed1a34557?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Luke Winge</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Oberlin (OB)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Krista Ord" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/97415a7d424058517a76d0edc3133f9c?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Krista Ord</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Phillipsburg (PB)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Bethany Jessup" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/227fcb3ae8ad917784cbf8c726e1280c?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Bethany Jessup</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Perkins Co (PC)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Megan Hoff" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/152e805d1df0bc057dd99aac3003188e?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Megan Hoff</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Perkins Co (PC)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Kara Hatcher" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/68a6937b5ef36b36e6b486510d7decae?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Kara Hatcher</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                St. Francis (SF)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Margaret Poling" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ac2e64ea956e9f97fa8894a79c0be362?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Margaret Poling</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                St. Francis (SF)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Morgan Sherlock" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/91732c70e12730bec3d6278a2d21834b?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Morgan Sherlock</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                St. Francis (SF)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Sidnee Crabtree" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/827824f58046396266174e5708d30b97?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Sidnee Crabtree</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Sterling (SL)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Erin Weber" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/07bf8ad446aadfa28ab69e3ad56cf906?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Erin Weber</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Sterling (SL)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Megan Wolf" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/22f71bbbfd812bf3ec45452c881e2423?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Megan Wolf</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Stockton (ST)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Daphne Plumer" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/375dd4dc84ed8d0d789210f1aa03cdef?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Daphne Plumer</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Sutherland (SU)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Jacqueline Mraz" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/1a4299d50de077358c3c8ee022504647?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Jacqueline Mraz</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Southern Valley (SV)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Jennifer Aerni" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ae1805479c87b3639df263db1a005983?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Jennifer Aerni</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Trego (TG)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Emma Day" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/efd851275498a22802d76e8628dfa133?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Emma Day</h5><span class="small text-uppercase text-body-secondary">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Trego (TG)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Susan Day" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/225983ef76d329647f984c2b30c96585?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Susan Day</h5><span class="small text-uppercase text-body-secondary">Team Contact</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Wilcox/Hildreth (WH)
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Elizabeth Burki" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/8ade999fb74bdcd44a6b9cf8a6c9be15?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Elizabeth Burki</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Wilcox/Hildreth (WH)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Dustin Johnson" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/c0cf9b01c1819c3a7b6ec47d8e31f49b?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Dustin Johnson</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Wray (WR)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded-bottom shadow-sm py-3 px-1 text-center">
                <img alt="Julie Gdanitz" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/62c65204117dcd3c99186d8d44c77900?s=100&amp;d=mm&amp;r=g" />
                        <h5 class="mb-0 text-center">Julie Gdanitz</h5><span class="small text-uppercase text-body-secondary"></span>
            </div>
        </div><!-- End -->
        </div>
    </div>
    <table class="table table-sm table-hover d-none">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Name</th>
                    </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><strong>Arapahoe (AR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jeffrey Utterback" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/e20afa98225306e9fa1e4a6e8388b074?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jeffrey Utterback</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />League President - Arapahoe Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Indianola (IN)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Michael Brodd" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ad8a5fb75368c622186b81ddb8754059?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Michael Brodd</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Lexington (LX)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Donna Ecklund" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/14b94acba188260101e95f0177a48b57?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Donna Ecklund</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cambridge (CA)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Tobiann Springer" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/dcb074bd839a490e063c55a7c3e236e4?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Tobiann Springer</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Alma (AL)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jami Ogier" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/51ada472c6e89f3aa957a4237aebed96?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jami Ogier</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Atwood (AT)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Aaron Schilde" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/8a8036f8efc7088d3863773e13beed0c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Aaron Schilde</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Atwood (AT)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Shandi  Sayre" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/8f651153f8a86fe097bd72941f2ad681?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Shandi  Sayre</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Benkelman (BE)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="FayeLee Sanford" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/36fd848e13677228a4499ff85638503a?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>FayeLee Sanford</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Benkelman (BE)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Anita Lutz" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/c13fe696a268efe4f2307f4132349e61?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Anita Lutz</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cambridge (CA)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Leah Downer" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/fe5550df0a0efbe067f077d818942382?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Leah Downer</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cambridge (CA)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Sara Calvert" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/d6b96a92cf4c9474a46b3a4c9d9868c8?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Sara Calvert</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cozad (CZ)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Karen LaBrayere" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/504aa93b255f9908b0b2851ef5e7602c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Karen LaBrayere</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cozad (CZ)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Anne Burkholder" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/8caa38677b0c3f76eb8ed9dc8e936923?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Anne Burkholder</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cozad (CZ)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Marcie Kostrunek" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ceb9a61b82820351bad863eaf7eeeff2?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Marcie Kostrunek</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Elm Creek (EC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Hannah  Carr" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/d063117bebe846805ab2261a8039736b?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Hannah  Carr</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Elwood (EL)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Tom Martin" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/2655cefb152c11a8206f9d32c3b19267?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Tom Martin</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Elwood (EL)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Lori Shutts" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/1e7fbba4aeebc53c5c108ac9e21ffc80?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Lori Shutts</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Frontier Co. (FC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Sara Oberg" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/03e269696db8f8bc64791f8cece9cda8?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Sara Oberg</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Frontier Co. (FC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Celeste  Debban " class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/bb2b894b9184d79a8d314b7be3103f57?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Celeste  Debban </strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Coach Stroke Judge </div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Franklin (FR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Abigail Cleveland" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/cc571e9d82a2645225530d77c602d9d4?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Abigail Cleveland</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Franklin (FR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Kyler Carraher" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/0e1bc4517c0e88dfde8dc4a00e11b914?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Kyler Carraher</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Gothenburg (GO)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Lisa Jorgenson" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/113f8ac1332d6bbfd7b67ce68e2f2903?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Lisa Jorgenson</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Hoxie (HX)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Miranda Marez-Scanlon" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/fa94375dba8df7f227a6415fa21368a5?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Miranda Marez-Scanlon</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Holyoke (HY)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Aly Brinkema" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ac50c0862860111ea685250a8b675842?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Aly Brinkema</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Kensington (KE)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Anne Abbott" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/a5fc52ec551ce3c0cb76854eb81429de?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Anne Abbott</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>McCook (MC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jennifer  Warwick " class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/564e3272590a09bff02779be668f3d50?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jennifer  Warwick </strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Mom</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>McCook (MC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Ronda Graff" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/72d56d8f4c70ed1ebf28f753084ffcb0?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Ronda Graff</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Minden (MI)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Ian Sinsel" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/b76f0be8fa04b04bc6f8b41855b76012?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Ian Sinsel</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Minden (MI)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Kylee Eckhardt" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/bff1ac20d3d309d6040fc00608ebed84?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Kylee Eckhardt</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Norton (NT)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Melissa Conn" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/5cbb7b01d6912cdfd34f24ecbee90090?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Melissa Conn</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Norton (NT)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Luke Winge" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/feb09104b73f94cf2a3e070ed1a34557?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Luke Winge</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Oberlin (OB)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Krista Ord" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/97415a7d424058517a76d0edc3133f9c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Krista Ord</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Phillipsburg (PB)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Bethany Jessup" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/227fcb3ae8ad917784cbf8c726e1280c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Bethany Jessup</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Perkins Co (PC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Megan Hoff" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/152e805d1df0bc057dd99aac3003188e?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Megan Hoff</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Perkins Co (PC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Kara Hatcher" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/68a6937b5ef36b36e6b486510d7decae?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Kara Hatcher</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>St. Francis (SF)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Margaret Poling" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ac2e64ea956e9f97fa8894a79c0be362?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Margaret Poling</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>St. Francis (SF)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Morgan Sherlock" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/91732c70e12730bec3d6278a2d21834b?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Morgan Sherlock</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>St. Francis (SF)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Sidnee Crabtree" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/827824f58046396266174e5708d30b97?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Sidnee Crabtree</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Sterling (SL)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Erin Weber" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/07bf8ad446aadfa28ab69e3ad56cf906?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Erin Weber</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Sterling (SL)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Megan Wolf" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/22f71bbbfd812bf3ec45452c881e2423?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Megan Wolf</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Stockton (ST)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Daphne Plumer" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/375dd4dc84ed8d0d789210f1aa03cdef?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Daphne Plumer</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Sutherland (SU)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jacqueline Mraz" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/1a4299d50de077358c3c8ee022504647?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jacqueline Mraz</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Southern Valley (SV)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jennifer Aerni" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ae1805479c87b3639df263db1a005983?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jennifer Aerni</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Trego (TG)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Emma Day" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/efd851275498a22802d76e8628dfa133?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Emma Day</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Trego (TG)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Susan Day" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/225983ef76d329647f984c2b30c96585?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Susan Day</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />Team Contact</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Wilcox/Hildreth (WH)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Elizabeth Burki" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/8ade999fb74bdcd44a6b9cf8a6c9be15?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Elizabeth Burki</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Wilcox/Hildreth (WH)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Dustin Johnson" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/c0cf9b01c1819c3a7b6ec47d8e31f49b?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Dustin Johnson</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Wray (WR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Julie Gdanitz" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/62c65204117dcd3c99186d8d44c77900?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Julie Gdanitz</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
            </tbody>
        </table>
    </div>
@code {

}
