@page "/Contact"
<PageTitle>Contacts</PageTitle>

<h3>Contacts</h3>

<div class="container">
    <p><i class="fa-solid fa-star fa-lg text-warning"></i><span> Indicates a primary team contact.</span></p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mx-auto">
        <div class="col">
        <div class="card">
                <div class="card-header bg-dark-subtle text-light-emphasis">
                Arapahoe (AR)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Jeffrey Utterback" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/e20afa98225306e9fa1e4a6e8388b074?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Jeffrey Utterback</h5><span class="small text-uppercase text-muted">League President - Arapahoe Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
                <div class="card-header bg-dark-subtle text-light-emphasis">
                Indianola (IN)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Michael Brodd" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ad8a5fb75368c622186b81ddb8754059?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Michael Brodd</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
                <div class="card-header bg-dark-subtle text-light-emphasis">
                Lexington (LX)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Donna Ecklund" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/14b94acba188260101e95f0177a48b57?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Donna Ecklund</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
                <div class="card-header bg-dark-subtle text-light-emphasis">
                Southern Valley (SV)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Lilian Herout" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/a9cc212ee5973be8ab8db4b7edb8ec58?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Lilian Herout</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
                <div class="card-header bg-dark-subtle text-light-emphasis">
                Cambridge (CA)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Tobiann Springer" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/dcb074bd839a490e063c55a7c3e236e4?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Tobiann Springer</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Kearney (KY)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Jamie Trenkle" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/c06ee805482aee76e9abf7649b33acb3?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Jamie Trenkle</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Atwood (AT)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Aaron Schilde" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/8a8036f8efc7088d3863773e13beed0c?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Aaron Schilde</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Atwood (AT)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Jordynn Fields" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/26528618b5afb5e04f8d17be4983f184?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Jordynn Fields</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Benkelman (BE)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Anita Lutz" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/c13fe696a268efe4f2307f4132349e61?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Anita Lutz</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Benkelman (BE)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="FayeLee Sanford" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/36fd848e13677228a4499ff85638503a?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">FayeLee Sanford</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Cozad (CZ)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Marcie Kostrunek" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ceb9a61b82820351bad863eaf7eeeff2?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Marcie Kostrunek</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Cozad (CZ)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Karen LaBrayere" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/504aa93b255f9908b0b2851ef5e7602c?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Karen LaBrayere</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Cozad (CZ)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Anne Burkholder" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/8caa38677b0c3f76eb8ed9dc8e936923?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Anne Burkholder</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Elm Creek (EC)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Amber Taylor" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/a8fe4565836b26404014bb022d2386f6?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Amber Taylor</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Elm Creek (EC)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Hannah  Carr" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/d063117bebe846805ab2261a8039736b?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Hannah  Carr</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Elwood (EL)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Tom Martin" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/2655cefb152c11a8206f9d32c3b19267?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Tom Martin</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Frontier Co. (FC)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Celeste  Debban " class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/bb2b894b9184d79a8d314b7be3103f57?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Celeste  Debban </h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Franklin (FR)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Abigail Cleveland" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/cc571e9d82a2645225530d77c602d9d4?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Abigail Cleveland</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Franklin (FR)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Grace Hudson" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/5e9e4b6bbee8bff82fba65ff1b2d4429?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Grace Hudson</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Franklin (FR)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Emily Cleveland" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/2ddde8afbcc4959a55dd7629582bff60?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Emily Cleveland</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Gothenburg (GO)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Erin Feather" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/65133d2c4e78ad9f02d4913f1f2289e2?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Erin Feather</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Hoxie (HX)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Miranda Marez-Scanlon" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/fa94375dba8df7f227a6415fa21368a5?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Miranda Marez-Scanlon</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Holyoke (HY)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Aly Brinkema" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ac50c0862860111ea685250a8b675842?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Aly Brinkema</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Kensington (KE)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Anne Abbott" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/a5fc52ec551ce3c0cb76854eb81429de?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Anne Abbott</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Minden (MI)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Laney Thatcher" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/95f8fae2942107cf7e7961dc4766a992?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Laney Thatcher</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Minden (MI)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Kylee Eckhardt" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/bff1ac20d3d309d6040fc00608ebed84?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Kylee Eckhardt</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Norton (NT)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Luke Winge" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/feb09104b73f94cf2a3e070ed1a34557?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Luke Winge</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Oberlin (OB)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Joni Marshall" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/c0ac4ff0c9886262689f8e8e0f7774ce?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Joni Marshall</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Ogallala (OG)
                    <i class="fa-solid fa-star text-warning float-end"></i>
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Megan  Jehorek" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/6acac995985d12dcae9dd4eb57b10678?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Megan  Jehorek</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Ogallala (OG)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Alisha Fanning " class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/bd8fa4f0c3774b93f4c9050e78735de9?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Alisha Fanning </h5><span class="small text-uppercase text-muted">Mrs.</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Phillipsburg (PB)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Bethany Jessup" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/227fcb3ae8ad917784cbf8c726e1280c?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Bethany Jessup</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                St. Francis (SF)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Margaret Poling" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/ac2e64ea956e9f97fa8894a79c0be362?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Margaret Poling</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Stockton (ST)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Daphne Plumer" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/375dd4dc84ed8d0d789210f1aa03cdef?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Daphne Plumer</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Sutherland (SU)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Jacqueline Mraz" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/1a4299d50de077358c3c8ee022504647?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Jacqueline Mraz</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Southern Valley (SV)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Jenn  Wasenius" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/8242653e27b90958b4fadfa733cfd4d0?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Jenn  Wasenius</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Trego (TG)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Christine Adams-Cleland" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/1bc4fd18c45b504a6687c3427684271e?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Christine Adams-Cleland</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Trego (TG)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Susan Day" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/225983ef76d329647f984c2b30c96585?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Susan Day</h5><span class="small text-uppercase text-muted">Team Contact</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Wilcox/Hildreth (WH)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Kerri Axtell" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/193788d3ac57279482af7d32830e0687?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Kerri Axtell</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Wauneta/Palisade (WP)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Hannah Hanke" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/20a11ba084d95c19e83c5c3869f5780c?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Hannah Hanke</h5><span class="small text-uppercase text-muted">Coach</span>
            </div>
        </div><!-- End -->
        </div>
        <div class="col">
        <div class="card">
            <div class="card-header bg-dark-subtle text-light-emphasis">
                Wray (WR)
            </div>
            <div class="bg-light-subtle rounded shadow-sm py-3 px-1 text-center">
                <img alt="Julie Gdanitz" class="rounded-circle mb-2 img-thumbnail shadow-sm" src="//www.gravatar.com/avatar/62c65204117dcd3c99186d8d44c77900?s=100&amp;d=mm&amp;r=g" /> 
                <h5 class="mb-0 text-center">Julie Gdanitz</h5><span class="small text-uppercase text-muted"></span>
            </div>
        </div><!-- End -->
        </div>
    </div>
    <table class="table table-sm table-hover d-none">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><strong>Arapahoe (AR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jeffrey Utterback" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/e20afa98225306e9fa1e4a6e8388b074?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jeffrey Utterback</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br />League President - Arapahoe Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Indianola (IN)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Michael Brodd" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ad8a5fb75368c622186b81ddb8754059?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Michael Brodd</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Lexington (LX)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Donna Ecklund" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/14b94acba188260101e95f0177a48b57?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Donna Ecklund</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Southern Valley (SV)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Lilian Herout" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/a9cc212ee5973be8ab8db4b7edb8ec58?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Lilian Herout</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cambridge (CA)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Tobiann Springer" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/dcb074bd839a490e063c55a7c3e236e4?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Tobiann Springer</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Kearney (KY)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jamie Trenkle" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/c06ee805482aee76e9abf7649b33acb3?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jamie Trenkle</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Atwood (AT)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Aaron Schilde" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/8a8036f8efc7088d3863773e13beed0c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Aaron Schilde</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Atwood (AT)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jordynn Fields" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/26528618b5afb5e04f8d17be4983f184?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jordynn Fields</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Benkelman (BE)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Anita Lutz" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/c13fe696a268efe4f2307f4132349e61?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Anita Lutz</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Benkelman (BE)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="FayeLee Sanford" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/36fd848e13677228a4499ff85638503a?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>FayeLee Sanford</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cozad (CZ)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Marcie Kostrunek" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ceb9a61b82820351bad863eaf7eeeff2?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Marcie Kostrunek</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cozad (CZ)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Karen LaBrayere" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/504aa93b255f9908b0b2851ef5e7602c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Karen LaBrayere</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Cozad (CZ)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Anne Burkholder" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/8caa38677b0c3f76eb8ed9dc8e936923?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Anne Burkholder</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Elm Creek (EC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Amber Taylor" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/a8fe4565836b26404014bb022d2386f6?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Amber Taylor</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Elm Creek (EC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Hannah  Carr" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/d063117bebe846805ab2261a8039736b?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Hannah  Carr</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Elwood (EL)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Tom Martin" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/2655cefb152c11a8206f9d32c3b19267?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Tom Martin</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Frontier Co. (FC)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Celeste  Debban " class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/bb2b894b9184d79a8d314b7be3103f57?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Celeste  Debban </strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Franklin (FR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Abigail Cleveland" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/cc571e9d82a2645225530d77c602d9d4?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Abigail Cleveland</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Franklin (FR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Grace Hudson" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/5e9e4b6bbee8bff82fba65ff1b2d4429?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Grace Hudson</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Franklin (FR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Emily Cleveland" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/2ddde8afbcc4959a55dd7629582bff60?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Emily Cleveland</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Gothenburg (GO)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Erin Feather" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/65133d2c4e78ad9f02d4913f1f2289e2?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Erin Feather</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Hoxie (HX)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Miranda Marez-Scanlon" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/fa94375dba8df7f227a6415fa21368a5?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Miranda Marez-Scanlon</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Holyoke (HY)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Aly Brinkema" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ac50c0862860111ea685250a8b675842?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Aly Brinkema</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Kensington (KE)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Anne Abbott" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/a5fc52ec551ce3c0cb76854eb81429de?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Anne Abbott</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Minden (MI)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Laney Thatcher" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/95f8fae2942107cf7e7961dc4766a992?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Laney Thatcher</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Minden (MI)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Kylee Eckhardt" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/bff1ac20d3d309d6040fc00608ebed84?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Kylee Eckhardt</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Norton (NT)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Luke Winge" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/feb09104b73f94cf2a3e070ed1a34557?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Luke Winge</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Oberlin (OB)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Joni Marshall" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/c0ac4ff0c9886262689f8e8e0f7774ce?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Joni Marshall</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Ogallala (OG)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Megan  Jehorek" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/6acac995985d12dcae9dd4eb57b10678?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Megan  Jehorek</strong>
                            <i class="fa-solid fa-star fa-lg text-warning"></i>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Ogallala (OG)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Alisha Fanning " class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/bd8fa4f0c3774b93f4c9050e78735de9?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Alisha Fanning </strong>
                        <br />Mrs.</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Phillipsburg (PB)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Bethany Jessup" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/227fcb3ae8ad917784cbf8c726e1280c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Bethany Jessup</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>St. Francis (SF)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Margaret Poling" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/ac2e64ea956e9f97fa8894a79c0be362?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Margaret Poling</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Stockton (ST)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Daphne Plumer" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/375dd4dc84ed8d0d789210f1aa03cdef?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Daphne Plumer</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Sutherland (SU)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jacqueline Mraz" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/1a4299d50de077358c3c8ee022504647?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jacqueline Mraz</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Southern Valley (SV)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Jenn  Wasenius" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/8242653e27b90958b4fadfa733cfd4d0?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Jenn  Wasenius</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Trego (TG)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Christine Adams-Cleland" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/1bc4fd18c45b504a6687c3427684271e?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Christine Adams-Cleland</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Trego (TG)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Susan Day" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/225983ef76d329647f984c2b30c96585?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Susan Day</strong>
                        <br />Team Contact</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Wilcox/Hildreth (WH)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Kerri Axtell" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/193788d3ac57279482af7d32830e0687?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Kerri Axtell</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Wauneta/Palisade (WP)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Hannah Hanke" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/20a11ba084d95c19e83c5c3869f5780c?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Hannah Hanke</strong>
                        <br />Coach</div></div>
                    </td>

                        
                    </tr>
                    <tr>
                        <td><strong>Wray (WR)</strong></td>
                        <td class="align-middle">
                            <div class="row">
                            <div class="col-2 d-none d-md-block">
                                <img alt="Julie Gdanitz" class="float-left pe-2 rounded-circle" src="//www.gravatar.com/avatar/62c65204117dcd3c99186d8d44c77900?s=50&amp;d=mm&amp;r=g" /> 
                            </div>
                            <div class="col">
                            <strong>Julie Gdanitz</strong>
                        <br /></div></div>
                    </td>

                        
                    </tr>
            </tbody>
        </table>
    </div>
@code {

}
