@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<h1>PtSL Teams</h1>

<p>All active teams for PlainstSunami Swim League.</p>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Team Name</th>
                <th>Team Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>@team.Name</td>
                    <td>@team.Code</td>
                    <td>@team.TeamName</td>
                    <td><img src="https://ptslmanager.blob.core.windows.net/images/@team.TeamImgUrl" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Team> teams = new List<Team>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            teams = await Http.GetFromJsonAsync<List<Team>>("/api/GetAllTeams") ?? new List<Team>();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
