@page "/"

<PageTitle>Home - PlainstSunami</PageTitle>

<div class="container">
    <div class="row mb-4">
        <div class="col-12 text-center px-0">
            <img src="https://ptslmanager.blob.core.windows.net/banners/PtSL_Logo.svg" alt="PlainstSunami Logo" class="rounded-1 w-100" />
        </div>
    </div>
    <div class="row pt-md-3">
        <div class="col-12 col-md-6 offset-md-3 order-1 order-md-1 mx-auto">
            <p style="line-height: 1; text-align: center; color: red; font-size: 24px;"><strong>ATTENTION! This site has been simplified to reduce costs in the off season. If you need access to the full site, please reach out using the administrator link in the footer of this page.</strong></p>
            <hr/>
            <p style="line-height: 1; text-align: center;"><a href="/Top20"><span style="font-size: 24px;"><strong>Final Top 20 for 2023 Season</strong></span></a></p>
            <hr/>
            <p style="line-height: 1; text-align: center;"><span style="font-size: 24px;"><strong>2023 Summer Meet Dates</strong></span><br><em><span style="font-size: 12pt;">(Final schedule to be determined, Dates subject to change)</span></em></p>
            <p style="text-align: center;"><span style="font-size: 24px;"><strong>Regular Season Meets - June 3, 10, 17, 24</strong></span></p>
            <p style="text-align: center;"><span style="font-size: 24px;"><strong>Relay Meets Week of June 26</strong></span></p>
            <p style="text-align: center;"><span style="font-size: 24px;"><strong>Qualifying Meet on July 8</strong></span></p>
            <p style="text-align: center;"><span style="font-size: 24px;"><strong>Championship Meet on July 15</strong></span></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
