@page "/"

<PageTitle>Home - PlainstSunami</PageTitle>

<div class="container">
    <div class="row mb-4">
        <div class="col-12 text-center px-0">
            <img src="https://ptslmanager.blob.core.windows.net/banners/PtSL_Logo.svg" alt="PlainstSunami Logo" class="rounded-1 w-100" />
        </div>
    </div>
    <div class="row pt-md-3">
        <div class="col-12 col-md-6 offset-md-3 order-1 order-md-1 mx-auto">
            <p style="line-height: 1; text-align: center; color: red; font-size: 24px;"><strong>ATTENTION! This site has been simplified to reduce costs in the off season. If you need access to the full site, please reach out using the administrator link in the footer of this page.</strong></p>
            <hr/>
            <p style="line-height: 1; text-align: center;"><a href="/Top20"><span style="font-size: 24px;"><strong>Final Top 20 for 2025 Season</strong></span></a></p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
