@page "/Records"
<PageTitle>Records</PageTitle>

<h3>Records</h3>
<hr/>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-hover w-100" style="background-color: white;">
                <thead>
                    <tr>
                        <th>
                            Event
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Swimmer
                        </th>
                        <th>
                            League
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Time
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Emma Ryan
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            1:35.72
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Trenton Roskop
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            1:31.37
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Natalya Woods
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2016
                        </td>
                        <td>
                            1:13.73
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Ivan Hammond
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2022
                        </td>
                        <td>
                            1:19.02
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Emma Ryan
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            2:27.51
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Jonathan Johnson
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2:41.15
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Kay Lynn Trenkle
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2:31.09
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Eli Schroeder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2:32.52
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Kay Lynn Trenkle
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            2:29.19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Devin Jensen
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2:15.53
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Zhu Zhu Lundin Daniels
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2:32.58
                        </td>
                    </tr>
                    <tr>
                        <td>
                            12
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Devin Jensen
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2:14.45
                        </td>
                    </tr>
                    <tr>
                        <td>
                            13
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Anne Burkholder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            1:10.91
                        </td>
                    </tr>
                    <tr>
                        <td>
                            14
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Ryan O&#x27;hare
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            1:01.06
                        </td>
                    </tr>
                    <tr>
                        <td>
                            15
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Kearney
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:37.09
                        </td>
                    </tr>
                    <tr>
                        <td>
                            16
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2016
                        </td>
                        <td>
                            1:47.71
                        </td>
                    </tr>
                    <tr>
                        <td>
                            16
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Arapahoe
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1991
                        </td>
                        <td>
                            1:39.50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Gothenburg
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            1:25.43
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            1:21.35
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Arapahoe
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            1:17.40
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19
                        </td>
                        <td>
                            OX
                        </td>
                        <td>
                            Oxford
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1992
                        </td>
                        <td>
                            1:13.65
                        </td>
                    </tr>
                    <tr>
                        <td>
                            20
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            McCook
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:15.83
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21
                        </td>
                        <td>
                            SF
                        </td>
                        <td>
                            St. Francis
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2022
                        </td>
                        <td>
                            1:10.54
                        </td>
                    </tr>
                    <tr>
                        <td>
                            22
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Alma
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            1:05.49
                        </td>
                    </tr>
                    <tr>
                        <td>
                            23
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            1:08.22
                        </td>
                    </tr>
                    <tr>
                        <td>
                            24
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Benkelman
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            1:01.23
                        </td>
                    </tr>
                    <tr>
                        <td>
                            25
                        </td>
                        <td>
                            HC
                        </td>
                        <td>
                            Hitchcock Co
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            1:10.79
                        </td>
                    </tr>
                    <tr>
                        <td>
                            25
                        </td>
                        <td>
                            OX
                        </td>
                        <td>
                            Oxford
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1997
                        </td>
                        <td>
                            1:09.24
                        </td>
                    </tr>
                    <tr>
                        <td>
                            26
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Benkelman
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            1:01.44
                        </td>
                    </tr>
                    <tr>
                        <td>
                            26
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Arapahoe
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1996
                        </td>
                        <td>
                            1:00.56
                        </td>
                    </tr>
                    <tr>
                        <td>
                            27
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Minden
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1991
                        </td>
                        <td>
                            1:17.88
                        </td>
                    </tr>
                    <tr>
                        <td>
                            27
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Lexington
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            1:23.41
                        </td>
                    </tr>
                    <tr>
                        <td>
                            28
                        </td>
                        <td>
                            AT
                        </td>
                        <td>
                            Atwood
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            1:08.22
                        </td>
                    </tr>
                    <tr>
                        <td>
                            29
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Taytum Roskop
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            0:21.79
                        </td>
                    </tr>
                    <tr>
                        <td>
                            30
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Charlie Fobie
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:21.89
                        </td>
                    </tr>
                    <tr>
                        <td>
                            30
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Jon Urbom
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1991
                        </td>
                        <td>
                            0:21.06
                        </td>
                    </tr>
                    <tr>
                        <td>
                            31
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Natalya Woods
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2016
                        </td>
                        <td>
                            0:17.44
                        </td>
                    </tr>
                    <tr>
                        <td>
                            32
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Charlie Fobie
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2010
                        </td>
                        <td>
                            0:17.43
                        </td>
                    </tr>
                    <tr>
                        <td>
                            33
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Emma Ryan
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:34.65
                        </td>
                    </tr>
                    <tr>
                        <td>
                            34
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:34.71
                        </td>
                    </tr>
                    <tr>
                        <td>
                            35
                        </td>
                        <td>
                            TC
                        </td>
                        <td>
                            Ashley Garner
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            0:34.06
                        </td>
                    </tr>
                    <tr>
                        <td>
                            36
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Jacob Nieveen
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            0:32.19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            37
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Margo Huggins
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            0:33.31
                        </td>
                    </tr>
                    <tr>
                        <td>
                            38
                        </td>
                        <td>
                            WH
                        </td>
                        <td>
                            Zebediah  Black
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:30.57
                        </td>
                    </tr>
                    <tr>
                        <td>
                            38
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Billy Howard
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1991
                        </td>
                        <td>
                            0:29.41
                        </td>
                    </tr>
                    <tr>
                        <td>
                            39
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Zhu Zhu Lundin Daniels
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            0:32.19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            40
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Bobby Keim
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2010
                        </td>
                        <td>
                            0:30.64
                        </td>
                    </tr>
                    <tr>
                        <td>
                            41
                        </td>
                        <td>
                            SV
                        </td>
                        <td>
                            Mandy Hays
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            0:17.05
                        </td>
                    </tr>
                    <tr>
                        <td>
                            41
                        </td>
                        <td>
                            SV
                        </td>
                        <td>
                            Mandy Hays
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            0:17.05
                        </td>
                    </tr>
                    <tr>
                        <td>
                            42
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Bobby Keim
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:14.01
                        </td>
                    </tr>
                    <tr>
                        <td>
                            43
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Rochelle Wendland
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            0:40.84
                        </td>
                    </tr>
                    <tr>
                        <td>
                            44
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:41.22
                        </td>
                    </tr>
                    <tr>
                        <td>
                            45
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Natalya Woods
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2016
                        </td>
                        <td>
                            0:34.29
                        </td>
                    </tr>
                    <tr>
                        <td>
                            46
                        </td>
                        <td>
                            FR
                        </td>
                        <td>
                            Eli Schroeder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            0:34.01
                        </td>
                    </tr>
                    <tr>
                        <td>
                            47
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Emma Ryan
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            1:07.35
                        </td>
                    </tr>
                    <tr>
                        <td>
                            48
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Jonathan Johnson
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2010
                        </td>
                        <td>
                            1:12.75
                        </td>
                    </tr>
                    <tr>
                        <td>
                            49
                        </td>
                        <td>
                            AT
                        </td>
                        <td>
                            Hillary Chvatal
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            1:08.60
                        </td>
                    </tr>
                    <tr>
                        <td>
                            50
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            1:04.80
                        </td>
                    </tr>
                    <tr>
                        <td>
                            51
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Leah Spencer
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:02.83
                        </td>
                    </tr>
                    <tr>
                        <td>
                            52
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Devin Jensen
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:59.44
                        </td>
                    </tr>
                    <tr>
                        <td>
                            53
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Zhu Zhu Lundin Daniels
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            1:08.08
                        </td>
                    </tr>
                    <tr>
                        <td>
                            54
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Devin Jensen
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            0:59.67
                        </td>
                    </tr>
                    <tr>
                        <td>
                            55
                        </td>
                        <td>
                            CA
                        </td>
                        <td>
                            Anne Burkholder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            0:31.90
                        </td>
                    </tr>
                    <tr>
                        <td>
                            56
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Ryan O&#x27;Hare
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            0:27.08
                        </td>
                    </tr>
                    <tr>
                        <td>
                            57
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Gracie Stienike
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            0:23.03
                        </td>
                    </tr>
                    <tr>
                        <td>
                            58
                        </td>
                        <td>
                            HY
                        </td>
                        <td>
                            Link Luedke
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2022
                        </td>
                        <td>
                            0:23.23
                        </td>
                    </tr>
                    <tr>
                        <td>
                            59
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Rochelle Wendland
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            0:19.11
                        </td>
                    </tr>
                    <tr>
                        <td>
                            60
                        </td>
                        <td>
                            AT
                        </td>
                        <td>
                            Henry Kastens
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            0:18.93
                        </td>
                    </tr>
                    <tr>
                        <td>
                            61
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Rochelle Wendland
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:36.83
                        </td>
                    </tr>
                    <tr>
                        <td>
                            62
                        </td>
                        <td>
                            WI
                        </td>
                        <td>
                            Bryce Johnson
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1998
                        </td>
                        <td>
                            0:39.52
                        </td>
                    </tr>
                    <tr>
                        <td>
                            62
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Brady Stuhmer
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:39.84
                        </td>
                    </tr>
                    <tr>
                        <td>
                            63
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Taryn O&#x27;Hare
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:36.68
                        </td>
                    </tr>
                    <tr>
                        <td>
                            64
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Joshua Miller
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            0:35.44
                        </td>
                    </tr>
                    <tr>
                        <td>
                            65
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Leah Spencer
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:33.03
                        </td>
                    </tr>
                    <tr>
                        <td>
                            66
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Brody Molzahn
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2010
                        </td>
                        <td>
                            0:34.27
                        </td>
                    </tr>
                    <tr>
                        <td>
                            66
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Bobby Keim
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1999
                        </td>
                        <td>
                            0:33.63
                        </td>
                    </tr>
                    <tr>
                        <td>
                            67
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Anne Burkholder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            0:35.49
                        </td>
                    </tr>
                    <tr>
                        <td>
                            68
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Bobby Keim
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:32.13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            69
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Anne Burkholder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2010
                        </td>
                        <td>
                            0:16.29
                        </td>
                    </tr>
                    <tr>
                        <td>
                            70
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Bobby Keim
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:15.21
                        </td>
                    </tr>
                    <tr>
                        <td>
                            71
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Minden
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            2:51.23
                        </td>
                    </tr>
                    <tr>
                        <td>
                            72
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Minden
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            2:59.30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            73
                        </td>
                        <td>
                            SF
                        </td>
                        <td>
                            St. Francis
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2022
                        </td>
                        <td>
                            2:18.54
                        </td>
                    </tr>
                    <tr>
                        <td>
                            74
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Alma
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            2:12.21
                        </td>
                    </tr>
                    <tr>
                        <td>
                            75
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            McCook
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2:11.90
                        </td>
                    </tr>
                    <tr>
                        <td>
                            76
                        </td>
                        <td>
                            WH
                        </td>
                        <td>
                            Wilcox/Hildreth
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:54.54
                        </td>
                    </tr>
                    <tr>
                        <td>
                            77
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            2:29.70
                        </td>
                    </tr>
                    <tr>
                        <td>
                            78
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Minden
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            2:32.99
                        </td>
                    </tr>
                    <tr>
                        <td>
                            79
                        </td>
                        <td>
                            OX
                        </td>
                        <td>
                            Randi Quinn
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1988
                        </td>
                        <td>
                            0:25.07
                        </td>
                    </tr>
                    <tr>
                        <td>
                            79
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Callie Verzal
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            0:25.90
                        </td>
                    </tr>
                    <tr>
                        <td>
                            80
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Thane O&#x27;Hare
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            0:26.34
                        </td>
                    </tr>
                    <tr>
                        <td>
                            80
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Chase Crawford
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1991
                        </td>
                        <td>
                            0:25.56
                        </td>
                    </tr>
                    <tr>
                        <td>
                            81
                        </td>
                        <td>
                            AT
                        </td>
                        <td>
                            Keshia Green
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            0:21.77
                        </td>
                    </tr>
                    <tr>
                        <td>
                            81
                        </td>
                        <td>
                            OX
                        </td>
                        <td>
                            Randi Quinn
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1990
                        </td>
                        <td>
                            0:20.75
                        </td>
                    </tr>
                    <tr>
                        <td>
                            82
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Charlie Fobie
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2010
                        </td>
                        <td>
                            0:22.23
                        </td>
                    </tr>
                    <tr>
                        <td>
                            82
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Zach Nott
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1991
                        </td>
                        <td>
                            0:22.22
                        </td>
                    </tr>
                    <tr>
                        <td>
                            83
                        </td>
                        <td>
                            AT
                        </td>
                        <td>
                            Keshia Green
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:41.53
                        </td>
                    </tr>
                    <tr>
                        <td>
                            83
                        </td>
                        <td>
                            OX
                        </td>
                        <td>
                            Randi Quinn
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1992
                        </td>
                        <td>
                            0:41.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            84
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:40.13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            85
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Reese Holscher
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:40.62
                        </td>
                    </tr>
                    <tr>
                        <td>
                            85
                        </td>
                        <td>
                            OX
                        </td>
                        <td>
                            Randi Quinn
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1993
                        </td>
                        <td>
                            0:39.74
                        </td>
                    </tr>
                    <tr>
                        <td>
                            86
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            0:36.89
                        </td>
                    </tr>
                    <tr>
                        <td>
                            87
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Mollie Tate
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            0:39.47
                        </td>
                    </tr>
                    <tr>
                        <td>
                            88
                        </td>
                        <td>
                            WH
                        </td>
                        <td>
                            Jake Svec
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:35.29
                        </td>
                    </tr>
                    <tr>
                        <td>
                            88
                        </td>
                        <td>
                            OR
                        </td>
                        <td>
                            Craig Botkin
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1992
                        </td>
                        <td>
                            0:34.19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            89
                        </td>
                        <td>
                            EC
                        </td>
                        <td>
                            Faith Gunderson
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            0:41.44
                        </td>
                    </tr>
                    <tr>
                        <td>
                            89
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Lilian Hogeland
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            2002
                        </td>
                        <td>
                            0:40.45
                        </td>
                    </tr>
                    <tr>
                        <td>
                            90
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Erik Graff
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:33.90
                        </td>
                    </tr>
                    <tr>
                        <td>
                            91
                        </td>
                        <td>
                            SV
                        </td>
                        <td>
                            Lilian Herout
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            0:19.47
                        </td>
                    </tr>
                    <tr>
                        <td>
                            92
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Bobby Keim
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:17.17
                        </td>
                    </tr>
                    <tr>
                        <td>
                            93
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Rochelle Wendland
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            0:17.69
                        </td>
                    </tr>
                    <tr>
                        <td>
                            94
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:18.11
                        </td>
                    </tr>
                    <tr>
                        <td>
                            95
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Makayla Wendland
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2003
                        </td>
                        <td>
                            0:15.90
                        </td>
                    </tr>
                    <tr>
                        <td>
                            95
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Samantha Luther
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1996
                        </td>
                        <td>
                            0:15.70
                        </td>
                    </tr>
                    <tr>
                        <td>
                            96
                        </td>
                        <td>
                            FR
                        </td>
                        <td>
                            Eli Shroeder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            0:15.14
                        </td>
                    </tr>
                    <tr>
                        <td>
                            97
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Emma Ryan
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:31.18
                        </td>
                    </tr>
                    <tr>
                        <td>
                            98
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:30.07
                        </td>
                    </tr>
                    <tr>
                        <td>
                            99
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Rochelle Wendland
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2010
                        </td>
                        <td>
                            0:30.96
                        </td>
                    </tr>
                    <tr>
                        <td>
                            100
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            0:28.56
                        </td>
                    </tr>
                    <tr>
                        <td>
                            101
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Leah Spencer
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:28.68
                        </td>
                    </tr>
                    <tr>
                        <td>
                            102
                        </td>
                        <td>
                            WH
                        </td>
                        <td>
                            Zebediah  Black
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:26.69
                        </td>
                    </tr>
                    <tr>
                        <td>
                            102
                        </td>
                        <td>
                            LX
                        </td>
                        <td>
                            Bobby Keim
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1999
                        </td>
                        <td>
                            0:26.15
                        </td>
                    </tr>
                    <tr>
                        <td>
                            103
                        </td>
                        <td>
                            EL
                        </td>
                        <td>
                            Jessica Flint
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            0:32.06
                        </td>
                    </tr>
                    <tr>
                        <td>
                            103
                        </td>
                        <td>
                            IN
                        </td>
                        <td>
                            Kim Malleck
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1999
                        </td>
                        <td>
                            0:31.44
                        </td>
                    </tr>
                    <tr>
                        <td>
                            104
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Devin Jensen
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            0:26.89
                        </td>
                    </tr>
                    <tr>
                        <td>
                            105
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Anne Burkholder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            0:15.23
                        </td>
                    </tr>
                    <tr>
                        <td>
                            106
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Ryan O&#x27;Hare
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            0:12.77
                        </td>
                    </tr>
                    <tr>
                        <td>
                            107
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Inga Burton
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            0:52.30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            107
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Samantha Luther
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1994
                        </td>
                        <td>
                            0:51.72
                        </td>
                    </tr>
                    <tr>
                        <td>
                            108
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Ethan Atchison
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            0:51.15
                        </td>
                    </tr>
                    <tr>
                        <td>
                            108
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Chase Crawford
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1991
                        </td>
                        <td>
                            0:50.47
                        </td>
                    </tr>
                    <tr>
                        <td>
                            109
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Reese Holscher
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            0:41.31
                        </td>
                    </tr>
                    <tr>
                        <td>
                            110
                        </td>
                        <td>
                            MI
                        </td>
                        <td>
                            Jonathan Johnson
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            0:41.19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            111
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Taryn O&#x27;Hare
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            1:23.22
                        </td>
                    </tr>
                    <tr>
                        <td>
                            112
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Phalen Sanford
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            1:21.66
                        </td>
                    </tr>
                    <tr>
                        <td>
                            113
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Reese Holscher
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:20.08
                        </td>
                    </tr>
                    <tr>
                        <td>
                            114
                        </td>
                        <td>
                            FC
                        </td>
                        <td>
                            Kevin Bantam
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:17.34
                        </td>
                    </tr>
                    <tr>
                        <td>
                            115
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Leah Spencer
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:14.98
                        </td>
                    </tr>
                    <tr>
                        <td>
                            116
                        </td>
                        <td>
                            WH
                        </td>
                        <td>
                            Zebediah  Black
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:09.88
                        </td>
                    </tr>
                    <tr>
                        <td>
                            116
                        </td>
                        <td>
                            OR
                        </td>
                        <td>
                            Craig Botkin
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1992
                        </td>
                        <td>
                            1:08.84
                        </td>
                    </tr>
                    <tr>
                        <td>
                            117
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Anne Burkholder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            1:22.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            118
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            Erik Graff
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:09.31
                        </td>
                    </tr>
                    <tr>
                        <td>
                            119
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Anne Burkholder
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2018
                        </td>
                        <td>
                            0:36.59
                        </td>
                    </tr>
                    <tr>
                        <td>
                            120
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Ryan O&#x27;Hare
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            0:31.78
                        </td>
                    </tr>
                    <tr>
                        <td>
                            121
                        </td>
                        <td>
                            KY
                        </td>
                        <td>
                            Kearney
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:26.33
                        </td>
                    </tr>
                    <tr>
                        <td>
                            122
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            1:24.34
                        </td>
                    </tr>
                    <tr>
                        <td>
                            122
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            McCook
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1994
                        </td>
                        <td>
                            1:19.09
                        </td>
                    </tr>
                    <tr>
                        <td>
                            123
                        </td>
                        <td>
                            GO
                        </td>
                        <td>
                            Gothenburg
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            1:13.17
                        </td>
                    </tr>
                    <tr>
                        <td>
                            124
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            1:11.66
                        </td>
                    </tr>
                    <tr>
                        <td>
                            125
                        </td>
                        <td>
                            OX
                        </td>
                        <td>
                            Oxford
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1995
                        </td>
                        <td>
                            1:06.11
                        </td>
                    </tr>
                    <tr>
                        <td>
                            125
                        </td>
                        <td>
                            HI
                        </td>
                        <td>
                            Hildreth
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1992
                        </td>
                        <td>
                            1:06.11
                        </td>
                    </tr>
                    <tr>
                        <td>
                            125
                        </td>
                        <td>
                            AR
                        </td>
                        <td>
                            Arapahoe
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            1:06.23
                        </td>
                    </tr>
                    <tr>
                        <td>
                            126
                        </td>
                        <td>
                            MC
                        </td>
                        <td>
                            McCook
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            1:07.33
                        </td>
                    </tr>
                    <tr>
                        <td>
                            126
                        </td>
                        <td>
                            BC
                        </td>
                        <td>
                            Beaver City
                        </td>
                        <td>
                            SWNSL
                        </td>
                        <td>
                            1990
                        </td>
                        <td>
                            1:03.67
                        </td>
                    </tr>
                    <tr>
                        <td>
                            127
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            1:00.88
                        </td>
                    </tr>
                    <tr>
                        <td>
                            128
                        </td>
                        <td>
                            AL
                        </td>
                        <td>
                            Alma
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2008
                        </td>
                        <td>
                            0:57.06
                        </td>
                    </tr>
                    <tr>
                        <td>
                            129
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            1:00.02
                        </td>
                    </tr>
                    <tr>
                        <td>
                            130
                        </td>
                        <td>
                            WH
                        </td>
                        <td>
                            Wilcox/Hildreth
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            0:51.27
                        </td>
                    </tr>
                    <tr>
                        <td>
                            131
                        </td>
                        <td>
                            HC
                        </td>
                        <td>
                            Hitchcock Co
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            1:01.13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            132
                        </td>
                        <td>
                            BE
                        </td>
                        <td>
                            Benkelman
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2012
                        </td>
                        <td>
                            0:52.90
                        </td>
                    </tr>
                    <tr>
                        <td>
                            133
                        </td>
                        <td>
                            CZ
                        </td>
                        <td>
                            Cozad
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2014
                        </td>
                        <td>
                            1:06.36
                        </td>
                    </tr>
                    <tr>
                        <td>
                            134
                        </td>
                        <td>
                            SV
                        </td>
                        <td>
                            Southern Valley
                        </td>
                        <td>
                            PtSL
                        </td>
                        <td>
                            2006
                        </td>
                        <td>
                            0:56.16
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div>
            <a href="/">Back Home</a>
        </div>
    </div>
</div>
@code {

}
