@page "/Schedule"

<PageTitle>Schedule</PageTitle>

<div class="container-fluid body-content mt-4">
    <h2>2024 Schedule</h2>
    <div class="container">
        <div class="row mb-4">
            <div class="col col-md-2">
                <a class="btn btn-primary" href="/"><i class="fas fa-lg fa-home"></i> Back Home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-7 order-2 order-md-1 mb-4">
                <div class="row bg-dark-subtle text-light-emphasis fw-bold p-2">
                    <div class="col col-md-3 align-self-center">Date</div>
                    <div class="col-12 col-md-9">
                        <div class="row">
                            <div class="col-4 col-md-3">Host</div>
                            <div class="col-8 col-md-9">Visiting Teams</div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 1</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Cambridge June 1, 2024" href="/Meet/290"><span class="align-middle">Cambridge</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Gothenburg June 1, 2024" href="/Meet/289"><span class="align-middle">Gothenburg</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Holyoke June 1, 2024" href="/Meet/288"><span class="align-middle">Holyoke</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Southern Valley @@ Oxford June 1, 2024" href="/Meet/286"><span class="align-middle">Southern Valley</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="St Francis June 1, 2024" href="/Meet/285"><span class="align-middle">St. Francis</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Stockton June 1, 2024" href="/Meet/287"><span class="align-middle">Stockton</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 8</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Alma June 8, 2024" href="/Meet/291"><span class="align-middle">Alma</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Benkelman June 8, 2024" href="/Meet/292"><span class="align-middle">Benkelman</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Elwood June 8, 2024" href="/Meet/293"><span class="align-middle">Elwood</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Franklin June 8, 2024" href="/Meet/294"><span class="align-middle">Franklin</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Hoxie June 8, 2024" href="/Meet/295"><span class="align-middle">Hoxie</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Perkins Co June 8, 2024" href="/Meet/296"><span class="align-middle">Perkins Co</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 15</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Elm Creek June 15, 2024" href="/Meet/297"><span class="align-middle">Elm Creek</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Indianola June 15, 2024" href="/Meet/299"><span class="align-middle">Indianola</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Kensington June 15, 2024" href="/Meet/298"><span class="align-middle">Kensington</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Minden June 15, 2024" href="/Meet/300"><span class="align-middle">Minden</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Norton June 15, 2024" href="/Meet/301"><span class="align-middle">Norton</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Wray June 15, 2024" href="/Meet/302"><span class="align-middle">Wray</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 22</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Arapahoe June 22, 2024" href="/Meet/303"><span class="align-middle">Arapahoe</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Atwood June 22, 2024" href="/Meet/304"><span class="align-middle">Atwood</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Cozad June 22, 2024" href="/Meet/305"><span class="align-middle">Cozad</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Imperial June 22, 2024" href="/Meet/306"><span class="align-middle">Imperial</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Phillipsburg June 22, 2024" href="/Meet/307"><span class="align-middle">Phillipsburg</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Trego June 22, 2024" href="/Meet/308"><span class="align-middle">Trego</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 align-self-center pb-1"><h3>Week of June 24 Relay Meets</h3><span class="text-danger-emphasis">All times are meet start times - warm-ups start one-half hour prior</span></div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row">
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Hoxie Relay Meet June 25, 2024" href="/Meet/309"><span class="align-middle">Hoxie</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/26/2024 12:00:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Alma Relay Meet June 26, 2024" href="/Meet/313"><span class="align-middle">Alma</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/27/2024 12:00:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Frontier Co Relay Meet June 26, 2024" href="/Meet/311"><span class="align-middle">Frontier Co.</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/26/2024 11:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Sterling Relay Meet June 26, 2024" href="/Meet/310"><span class="align-middle">Sterling</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/27/2024 12:30:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Wil/Hil Rellay Meet June 26, 2024" href="/Meet/312"><span class="align-middle">Wilcox/Hildreth</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/27/2024 12:00:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Arapahoe Relay Meet June 27, 2024" href="/Meet/314"><span class="align-middle">Arapahoe</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/27/2024 10:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Cozad Relay Meet June 27, 2024" href="/Meet/315"><span class="align-middle">Cozad</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/27/2024 11:00:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="St Francis Relay Meet June 28, 2024" href="/Meet/317"><span class="align-middle">St. Francis</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/28/2024 11:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Wray Relay Meet June 28, 2024" href="/Meet/316"><span class="align-middle">Wray</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/28/2024 11:30:00 PM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>

                <div class="row bg-light-subtle">
                    <div class="col col-md-4 h3 align-self-center">July 6 Qualifying</div>
                    <div class="col-12 col-md-8 py-0 my-0">
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Central Qualifying Meet July 6, 2024" href="/Meet/319"><span class="h3 align-middle">Cambridge</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="North Qualifying Meet July 6, 2024" href="/Meet/320"><span class="h3 align-middle">Cozad</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Southeast Qualifying Meet July 6, 2024" href="/Meet/318"><span class="h3 align-middle">Alma</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Southwest Qualifying Meet July 6, 2024" href="/Meet/322"><span class="h3 align-middle">St. Francis</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="West Qualifying Meet July 6, 2024" href="/Meet/321"><span class="h3 align-middle">Perkins Co</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>

                <div class="row champ py-1 py-md-3">
                    <div class="col-2 col-md-4 h3 align-self-center">July 13</div>
                    <div class="col-6 col-md-4 py-0 my-0 h3">
                        Championships
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="row champ">
                            <div class="col-12 col-md-12 py-1"><a class="champ" title="PtSL Championship Meet - Imperial" href="/Meet/323"><span class="h3 align-middle">Imperial</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
            </div>
            <div class="col-12 col-md-3 order-2 order-md-2 mb-4">
                <div class="px-2">
                    <div class="row">
                        <div class="col-12 bg-dark-subtle text-light-emphasis fw-bold py-2">Teams</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AL</div>
                        <div class="col border py-0 py-md-1">Alma</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AR</div>
                        <div class="col border py-0 py-md-1">Arapahoe</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AT</div>
                        <div class="col border py-0 py-md-1">Atwood</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AU</div>
                        <div class="col border py-0 py-md-1">Aurora</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">BE</div>
                        <div class="col border py-0 py-md-1">Benkelman</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">CA</div>
                        <div class="col border py-0 py-md-1">Cambridge</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">CZ</div>
                        <div class="col border py-0 py-md-1">Cozad</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">EC</div>
                        <div class="col border py-0 py-md-1">Elm Creek</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">EL</div>
                        <div class="col border py-0 py-md-1">Elwood</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">FR</div>
                        <div class="col border py-0 py-md-1">Franklin</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">FC</div>
                        <div class="col border py-0 py-md-1">Frontier Co.</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">GO</div>
                        <div class="col border py-0 py-md-1">Gothenburg</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">HY</div>
                        <div class="col border py-0 py-md-1">Holyoke</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">HX</div>
                        <div class="col border py-0 py-md-1">Hoxie</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">IM</div>
                        <div class="col border py-0 py-md-1">Imperial</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">IN</div>
                        <div class="col border py-0 py-md-1">Indianola</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">KY</div>
                        <div class="col border py-0 py-md-1">Kearney</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">KE</div>
                        <div class="col border py-0 py-md-1">Kensington</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">MC</div>
                        <div class="col border py-0 py-md-1">McCook</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">MI</div>
                        <div class="col border py-0 py-md-1">Minden</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">NT</div>
                        <div class="col border py-0 py-md-1">Norton</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">OB</div>
                        <div class="col border py-0 py-md-1">Oberlin</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">OG</div>
                        <div class="col border py-0 py-md-1">Ogallala</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">PC</div>
                        <div class="col border py-0 py-md-1">Perkins Co</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">PB</div>
                        <div class="col border py-0 py-md-1">Phillipsburg</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">SV</div>
                        <div class="col border py-0 py-md-1">Southern Valley</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">SF</div>
                        <div class="col border py-0 py-md-1">St. Francis</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">SL</div>
                        <div class="col border py-0 py-md-1">Sterling</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">ST</div>
                        <div class="col border py-0 py-md-1">Stockton</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">TG</div>
                        <div class="col border py-0 py-md-1">Trego</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">WH</div>
                        <div class="col border py-0 py-md-1">Wilcox/Hildreth</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">WR</div>
                        <div class="col border py-0 py-md-1">Wray</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 order-1 order-md-3 mb-4">
                <div class="row">
                    <div class="col-12 bg-dark-subtle text-light-emphasis fw-bold py-2">Color Legend</div>
                    <div class="col col-md-12 bg-success-subtle fw-bold py-2">West</div>
                    <div class="col col-md-12 bg-danger-subtle fw-bold py-2">Central</div>
                    <div class="col col-md-12 bg-warning-subtle fw-bold py-2">North</div>
                    <div class="col col-md-12 bg-info-subtle fw-bold py-2">SouthEast</div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
