@page "/Schedule"
<PageTitle>Schedule</PageTitle>

<h3>Schedule</h3>
<div class="container">
    <div class="row mb-4">
        <div class="col col-md-2">
            <a class="btn btn-primary" href="/"><i class="fas fa-lg fa-home"></i> Back Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 order-2 order-md-1 mb-4">
            <div class="row bg-dark text-light fw-bold py-2">
                <div class="col col-md-3 align-self-center">Date</div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-4 col-md-3">Host</div>
                        <div class="col-8 col-md-9">Visiting Teams</div>
                    </div>
                </div>
            </div>
            <h1>No meets have been created for this season yet. Please check back soon!</h1>


        </div>
        <div class="col-12 col-md-3 order-2 order-md-2 mb-4">
            <div class="px-2">
                <div class="row">
                    <div class="col-12 bg-dark text-light fw-bold py-2">Teams</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">AL</div>
                    <div class="col border py-0 py-md-1">Alma</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">AR</div>
                    <div class="col border py-0 py-md-1">Arapahoe</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">AT</div>
                    <div class="col border py-0 py-md-1">Atwood</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">BE</div>
                    <div class="col border py-0 py-md-1">Benkelman</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">CA</div>
                    <div class="col border py-0 py-md-1">Cambridge</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">CZ</div>
                    <div class="col border py-0 py-md-1">Cozad</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">EC</div>
                    <div class="col border py-0 py-md-1">Elm Creek</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">EL</div>
                    <div class="col border py-0 py-md-1">Elwood</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">FR</div>
                    <div class="col border py-0 py-md-1">Franklin</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">FC</div>
                    <div class="col border py-0 py-md-1">Frontier Co.</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">GO</div>
                    <div class="col border py-0 py-md-1">Gothenburg</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">HY</div>
                    <div class="col border py-0 py-md-1">Holyoke</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">HX</div>
                    <div class="col border py-0 py-md-1">Hoxie</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">IM</div>
                    <div class="col border py-0 py-md-1">Imperial</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">IN</div>
                    <div class="col border py-0 py-md-1">Indianola</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">KY</div>
                    <div class="col border py-0 py-md-1">Kearney</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">KE</div>
                    <div class="col border py-0 py-md-1">Kensington</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">MI</div>
                    <div class="col border py-0 py-md-1">Minden</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">NT</div>
                    <div class="col border py-0 py-md-1">Norton</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">OB</div>
                    <div class="col border py-0 py-md-1">Oberlin</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">OG</div>
                    <div class="col border py-0 py-md-1">Ogallala</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">PC</div>
                    <div class="col border py-0 py-md-1">Perkins Co</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">PB</div>
                    <div class="col border py-0 py-md-1">Phillipsburg</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">SV</div>
                    <div class="col border py-0 py-md-1">Southern Valley</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">SF</div>
                    <div class="col border py-0 py-md-1">St. Francis</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">ST</div>
                    <div class="col border py-0 py-md-1">Stockton</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">TG</div>
                    <div class="col border py-0 py-md-1">Trego</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">WH</div>
                    <div class="col border py-0 py-md-1">Wilcox/Hildreth</div>
                </div>
                <div class="row bg-light">
                    <div class="col-3 border text-center py-0 py-md-1">WR</div>
                    <div class="col border py-0 py-md-1">Wray</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 order-1 order-md-3 mb-4">
            <div class="row">
                <div class="col-12 bg-dark text-light fw-bold py-2">Color Legend</div>
                <div class="col col-md-12 bg-success fw-bold py-2">West</div>
                <div class="col col-md-12 bg-danger fw-bold py-2">Central</div>
                <div class="col col-md-12 bg-warning fw-bold py-2">North</div>
                <div class="col col-md-12 bg-info fw-bold py-2">SouthEast</div>
            </div>
        </div>
    </div>
</div>

@code {

}
