@page "/Schedule"
<PageTitle>Schedule</PageTitle>

<div class="container-fluid body-content mt-4">
    <h2>2023 Schedule</h2>
    <div class="container">
        <div class="row mb-4">
            <div class="col col-md-2">
                <a class="btn btn-primary" href="/"><i class="fas fa-lg fa-home"></i> Back Home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-7 order-2 order-md-1 mb-4">
                <div class="row bg-dark-subtle text-light-emphasis fw-bold p-2">
                    <div class="col col-md-3 align-self-center">Date</div>
                    <div class="col-12 col-md-9">
                        <div class="row">
                            <div class="col-4 col-md-3">Host</div>
                            <div class="col-8 col-md-9">Visiting Teams</div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 3</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Cambridge June 3, 2023" href="/Meet/243"><span class="align-middle">Cambridge</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Frontier Co June 3, 2023" href="/Meet/244"><span class="align-middle">Frontier Co.</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Holyoke June 3, 2023" href="/Meet/246"><span class="align-middle">Holyoke</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Ogallala"><div title="Ogallala">OG</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Minden June 3, 2023" href="/Meet/245"><span class="align-middle">Minden</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Aurora"><div title="Aurora">AU</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kearney"><div title="Kearney">KY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="St Francis June 3, 2023" href="/Meet/247"><span class="align-middle">St. Francis</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Stockton June 3, 2023" href="/Meet/248"><span class="align-middle">Stockton</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 10</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Alma June 10, 2023" href="/Meet/249"><span class="align-middle">Alma</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Atwood June 10, 2023" href="/Meet/250"><span class="align-middle">Atwood</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Elm Creek June 10, 2023" href="/Meet/251"><span class="align-middle">Elm Creek</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Aurora"><div title="Aurora">AU</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kearney"><div title="Kearney">KY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Gothenburg June 10, 2023" href="/Meet/252"><span class="align-middle">Gothenburg</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Hoxie June 10, 2023" href="/Meet/253"><span class="align-middle">Hoxie</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Perkins Co June 10, 2023" href="/Meet/254"><span class="align-middle">Perkins Co</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Ogallala"><div title="Ogallala">OG</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 17</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Arapahoe June 17, 2023" href="/Meet/255"><span class="align-middle">Arapahoe</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Elwood June 17, 2023" href="/Meet/256"><span class="align-middle">Elwood</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Imperial June 17, 2023" href="/Meet/259"><span class="align-middle">Imperial</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Ogallala"><div title="Ogallala">OG</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Kearney June 17, 2023" href="/Meet/258"><span class="align-middle">Kearney</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Aurora"><div title="Aurora">AU</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Kensington June 17, 2023" href="/Meet/257"><span class="align-middle">Kensington</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Trego June 17, 2023" href="/Meet/260"><span class="align-middle">Trego</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Wray June 17, 2023" href="/Meet/261"><span class="align-middle">Wray</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 h3 align-self-center">June 24</div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Benkelman June 24, 2023" href="/Meet/265"><span class="align-middle">Benkelman</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Imperial"><div title="Imperial">IM</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Cozad June 24, 2023" href="/Meet/262"><span class="align-middle">Cozad</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kearney"><div title="Kearney">KY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Ogallala"><div title="Ogallala">OG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Franklin June 24, 2023" href="/Meet/267"><span class="align-middle">Franklin</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Aurora"><div title="Aurora">AU</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Indianola June 24, 2023" href="/Meet/263"><span class="align-middle">Indianola</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Norton June 24, 2023" href="/Meet/264"><span class="align-middle">Norton</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Hoxie"><div title="Hoxie">HX</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-4 col-md-3 py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Phillipsburg June 24, 2023" href="/Meet/266"><span class="align-middle">Phillipsburg</span></a></div>
                            <div class="col-8 col-md-9 py-1">
                                <div class="row row-cols-4 row-cols-md-7 h-100 bg-light-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Alma"><div title="Alma">AL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
                <div class="row bg-light-subtle">
                    <div class="col col-md-3 align-self-center pb-1"><h3>Week of June 26 Relay Meets</h3><span class="text-danger-emphasis">All times are meet start times - warm-ups start one-half hour prior</span></div>
                    <div class="col-12 col-md-9 py-0 my-0">
                        <div class="row">
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Cozad Relay Meet" href="/Meet/268"><span class="align-middle">Cozad</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/27/2023 11:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Frontier Co Relay Meet" href="/Meet/269"><span class="align-middle">Frontier Co.</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/29/2023 12:00:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Wilcox/Hildreth Relay Meet" href="/Meet/270"><span class="align-middle">Wilcox/Hildreth</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/28/2023 11:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Arapahoe Relay Meet" href="/Meet/271"><span class="align-middle">Arapahoe</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/29/2023 10:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Hoxie Relay Meet" href="/Meet/272"><span class="align-middle">Hoxie</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/30/2023 12:00:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Kearney Y Relay Meet" href="/Meet/273"><span class="align-middle">Kearney</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/29/2023 11:00:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Alma Relay Meet" href="/Meet/274"><span class="align-middle">Alma</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/30/2023 11:00:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Atwood Relay Meet" href="/Meet/275"><span class="align-middle">Atwood</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/30/2023 11:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="St Francis Relay Meet" href="/Meet/278"><span class="align-middle">St. Francis</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        7/1/2023 12:00:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="Stockton Relay Meet" href="/Meet/276"><span class="align-middle">Stockton</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        7/1/2023 12:00:00 AM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Wray Relay Meet" href="/Meet/277"><span class="align-middle">Wray</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        6/30/2023 11:30:00 PM
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border">
                                <div class="row">
                                    <div class="col py-1 fw-bold bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="Perkins Co Relay Meet" href="/Meet/279"><span class="align-middle">Perkins Co</span></a></div>
                                    <div class="col py-1 relayMeetDateTime">
                                        7/1/2023 3:30:00 PM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>

                <div class="row bg-light-subtle">
                    <div class="col col-md-4 h3 align-self-center">July 8 Qualifying</div>
                    <div class="col-12 col-md-8 py-0 my-0">
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-info-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="East Qualifying Meet" href="/Meet/281"><span class="h3 align-middle">Alma</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Arapahoe"><div title="Arapahoe">AR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cambridge"><div title="Cambridge">CA</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Franklin"><div title="Franklin">FR</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Frontier Co."><div title="Frontier Co.">FC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Indianola"><div title="Indianola">IN</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Kensington"><div title="Kensington">KE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Phillipsburg"><div title="Phillipsburg">PB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Southern Valley"><div title="Southern Valley">SV</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-warning-subtle text-dark-emphasis"><a class="schedule link-dark-emphasis" title="North Qualifying Meet" href="/Meet/280"><span class="h3 align-middle">Kearney</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Aurora"><div title="Aurora">AU</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Cozad"><div title="Cozad">CZ</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elm Creek"><div title="Elm Creek">EC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Elwood"><div title="Elwood">EL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Gothenburg"><div title="Gothenburg">GO</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Minden"><div title="Minden">MI</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wilcox/Hildreth"><div title="Wilcox/Hildreth">WH</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-danger-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="South Qualifying Meet" href="/Meet/282"><span class="h3 align-middle">Hoxie</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Atwood"><div title="Atwood">AT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="McCook"><div title="McCook">MC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Norton"><div title="Norton">NT</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Oberlin"><div title="Oberlin">OB</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="St. Francis"><div title="St. Francis">SF</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Stockton"><div title="Stockton">ST</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Trego"><div title="Trego">TG</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-6 col-md-6 py-1 bg-success-subtle text-light-emphasis"><a class="schedule link-light-emphasis" title="West Qualifying Meet" href="/Meet/283"><span class="h3 align-middle">Imperial</span></a></div>
                            <div class="col-6 col-md-6 py-1">
                                <div class="row row-cols-3 row-cols-md-6 h-100 bg-white-subtle">
                                    <div class="col col-md-2 text-center align-self-center" title="Benkelman"><div title="Benkelman">BE</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Holyoke"><div title="Holyoke">HY</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Ogallala"><div title="Ogallala">OG</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Perkins Co"><div title="Perkins Co">PC</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Sterling"><div title="Sterling">SL</div></div>
                                    <div class="col col-md-2 text-center align-self-center" title="Wray"><div title="Wray">WR</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>

                <div class="row champ py-1 py-md-3">
                    <div class="col-2 col-md-4 h3 align-self-center">July 15</div>
                    <div class="col-6 col-md-4 py-0 my-0 h3">
                        Championships
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="row champ">
                            <div class="col-12 col-md-12 py-1"><a class="champ" title="PtSL Championship Meet 2023" href="/Meet/284"><span class="h3 align-middle">Southern Valley</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="row bg-dark-subtle"><div class="col py-1"></div></div>
            </div>
            <div class="col-12 col-md-3 order-2 order-md-2 mb-4">
                <div class="px-2">
                    <div class="row">
                        <div class="col-12 bg-dark-subtle text-light-emphasis fw-bold py-2">Teams</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AL</div>
                        <div class="col border py-0 py-md-1">Alma</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AR</div>
                        <div class="col border py-0 py-md-1">Arapahoe</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AT</div>
                        <div class="col border py-0 py-md-1">Atwood</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">AU</div>
                        <div class="col border py-0 py-md-1">Aurora</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">BE</div>
                        <div class="col border py-0 py-md-1">Benkelman</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">CA</div>
                        <div class="col border py-0 py-md-1">Cambridge</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">CZ</div>
                        <div class="col border py-0 py-md-1">Cozad</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">EC</div>
                        <div class="col border py-0 py-md-1">Elm Creek</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">EL</div>
                        <div class="col border py-0 py-md-1">Elwood</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">FR</div>
                        <div class="col border py-0 py-md-1">Franklin</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">FC</div>
                        <div class="col border py-0 py-md-1">Frontier Co.</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">GO</div>
                        <div class="col border py-0 py-md-1">Gothenburg</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">HY</div>
                        <div class="col border py-0 py-md-1">Holyoke</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">HX</div>
                        <div class="col border py-0 py-md-1">Hoxie</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">IM</div>
                        <div class="col border py-0 py-md-1">Imperial</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">IN</div>
                        <div class="col border py-0 py-md-1">Indianola</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">KY</div>
                        <div class="col border py-0 py-md-1">Kearney</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">KE</div>
                        <div class="col border py-0 py-md-1">Kensington</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">MC</div>
                        <div class="col border py-0 py-md-1">McCook</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">MI</div>
                        <div class="col border py-0 py-md-1">Minden</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">NT</div>
                        <div class="col border py-0 py-md-1">Norton</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">OB</div>
                        <div class="col border py-0 py-md-1">Oberlin</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">OG</div>
                        <div class="col border py-0 py-md-1">Ogallala</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">PC</div>
                        <div class="col border py-0 py-md-1">Perkins Co</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">PB</div>
                        <div class="col border py-0 py-md-1">Phillipsburg</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">SV</div>
                        <div class="col border py-0 py-md-1">Southern Valley</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">SF</div>
                        <div class="col border py-0 py-md-1">St. Francis</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">SL</div>
                        <div class="col border py-0 py-md-1">Sterling</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">ST</div>
                        <div class="col border py-0 py-md-1">Stockton</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">TG</div>
                        <div class="col border py-0 py-md-1">Trego</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">WH</div>
                        <div class="col border py-0 py-md-1">Wilcox/Hildreth</div>
                    </div>
                    <div class="row bg-light-subtle">
                        <div class="col-3 border text-center py-0 py-md-1">WR</div>
                        <div class="col border py-0 py-md-1">Wray</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 order-1 order-md-3 mb-4">
                <div class="row">
                    <div class="col-12 bg-dark-subtle text-light-emphasis fw-bold py-2">Color Legend</div>
                    <div class="col col-md-12 bg-success-subtle fw-bold py-2">West</div>
                    <div class="col col-md-12 bg-danger-subtle fw-bold py-2">Central</div>
                    <div class="col col-md-12 bg-warning-subtle fw-bold py-2">North</div>
                    <div class="col col-md-12 bg-info-subtle fw-bold py-2">SouthEast</div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
