@page "/Teams"
<PageTitle>Teams</PageTitle>

<h3>Teams</h3>
<hr />
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col" class="text-center">Code</th>
                    <th scope="col" class="">Team Name</th>
                    <th scope="col" class="text-center">Pool Length (ft.)</th>
                    <th scope="col" class="text-center">Pool Length (meters)</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td scope="row"><strong>Alma</strong></td>
                        <td class="text-center">AL</td>
                        <td>Alma</td>
                        <td class="text-center">82.021</td>
                        <td class="text-center">25</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Arapahoe</strong></td>
                        <td class="text-center">AR</td>
                        <td>Blue Dolphin Swim Club</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Atwood</strong></td>
                        <td class="text-center">AT</td>
                        <td>Atwood Swim Team</td>
                        <td class="text-center">82.1667</td>
                        <td class="text-center">25.04</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Benkelman</strong></td>
                        <td class="text-center">BE</td>
                        <td>Benkelman Swim Team</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Cambridge</strong></td>
                        <td class="text-center">CA</td>
                        <td>Cambridge Krakens</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Cozad</strong></td>
                        <td class="text-center">CZ</td>
                        <td>Cozad Swim Team</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Elm Creek</strong></td>
                        <td class="text-center">EC</td>
                        <td>Elm Creek</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Elwood</strong></td>
                        <td class="text-center">EL</td>
                        <td>Pirates</td>
                        <td class="text-center">83.25</td>
                        <td class="text-center">25.37</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Franklin</strong></td>
                        <td class="text-center">FR</td>
                        <td>Flyers</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Frontier Co.</strong></td>
                        <td class="text-center">FC</td>
                        <td>Frontier County Stars</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Gothenburg</strong></td>
                        <td class="text-center">GO</td>
                        <td>Gothenburg</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Holyoke</strong></td>
                        <td class="text-center">HY</td>
                        <td>Sea Dragons</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Hoxie</strong></td>
                        <td class="text-center">HX</td>
                        <td>Hoxie Hammerheads</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Imperial</strong></td>
                        <td class="text-center">IM</td>
                        <td>Imperial</td>
                        <td class="text-center">82.2</td>
                        <td class="text-center">25.05</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Indianola</strong></td>
                        <td class="text-center">IN</td>
                        <td>Indianola</td>
                        <td class="text-center">82</td>
                        <td class="text-center">24.99</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Kearney</strong></td>
                        <td class="text-center">KY</td>
                        <td>Kearney YMCA Tsunami</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Kensington</strong></td>
                        <td class="text-center">KE</td>
                        <td>Kensington Stingrays</td>
                        <td class="text-center">82.42</td>
                        <td class="text-center">25.12</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Minden</strong></td>
                        <td class="text-center">MI</td>
                        <td>Minden</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Norton</strong></td>
                        <td class="text-center">NT</td>
                        <td>Norton</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Oberlin</strong></td>
                        <td class="text-center">OB</td>
                        <td>Oberlin</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Ogallala</strong></td>
                        <td class="text-center">OG</td>
                        <td>OG Swim Team</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Perkins Co</strong></td>
                        <td class="text-center">PC</td>
                        <td>Perkins Co</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Phillipsburg</strong></td>
                        <td class="text-center">PB</td>
                        <td>Piranhas</td>
                        <td class="text-center">75.4593</td>
                        <td class="text-center">23</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Southern Valley</strong></td>
                        <td class="text-center">SV</td>
                        <td>Southern Valley</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>St. Francis</strong></td>
                        <td class="text-center">SF</td>
                        <td>Sainty Sharks/St. Francis</td>
                        <td class="text-center">82.25</td>
                        <td class="text-center">25.07</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Stockton</strong></td>
                        <td class="text-center">ST</td>
                        <td>Stockton Tiger Sharks</td>
                        <td class="text-center">82</td>
                        <td class="text-center">24.99</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Trego</strong></td>
                        <td class="text-center">TG</td>
                        <td>Torpedoes</td>
                        <td class="text-center">75.4593</td>
                        <td class="text-center">23</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Wilcox/Hildreth</strong></td>
                        <td class="text-center">WH</td>
                        <td>Wilcox/Hildreth</td>
                        <td class="text-center">75</td>
                        <td class="text-center">22.86</td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Wray</strong></td>
                        <td class="text-center">WR</td>
                        <td>StingWrays</td>
                        <td class="text-center">75.1667</td>
                        <td class="text-center">22.91</td>
                    </tr>
            </tbody>
        </table>
    </div>
    <a href="/">Back Home</a>
</div>
@code {

}
