@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@inherits LayoutComponentBase
@inject IWebAssemblyHostEnvironment HostEnvironment

<NavMenu />

<div class="container-fluid mt-4">
    @Body
</div>
<footer class="footer bg-dark">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-4 d-none d-md-block">
                Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
                <environment names="Development"><span class="font-italic">Running in @HostEnvironment.Environment mode </span></environment>
            </div>
            <div class="col-12 d-block d-md-none text-center">&copy; @year - PlainstSunami</div>
            <div class="col-4 d-none d-md-block text-center">&copy; @year - PlainstSunami Swim League</div>
            <div class="col-4 d-none d-md-block text-end">
                <a class="footerlink" href="mailto:wyatt.conrad@gmail.com">Email Administrator</a>
            </div>
        </div>
    </div>
</footer>

@code {
    private int year = DateTime.UtcNow.Year;
}